.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
  outline: 1px solid red;
}

.title {
  margin-bottom: 15px;
}

.data {
  width: 320px;
  margin-bottom: 15px;
  font-style: italic;
}

table {
  table-layout: fixed;
  width: 100%;
  border-radius: 10px;
  border-collapse: collapse;
  background-color: #f4f4f2;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

thead th:nth-child(1) {
  width: 25%;
  text-align: left;
}

thead th:nth-child(2) {
  width: 15%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 15%;
}

thead th:nth-child(5) {
  width: 15%;
}

thead th:nth-child(6) {
  width: 15%;
}

th,
td {
  padding: 20px;
}

td {
  border-top: 2px solid #fff;
}

tbody tr {
  text-align: right;
}

td:nth-child(1) {
  text-align: left;
}

.redItem {
  font-weight: bold;
  color: red;
}

.greenItem {
  font-weight: bold;
  color: green;
}

@media screen and (max-width: 767px) {
  .table {
    width: 320px;
  }

  th,
  td {
    padding: 10px;
  }

  thead th:nth-child(1) {
    width: 15%;
  }

  thead th:nth-child(2) {
    width: 25%;
  }

  thead th:nth-child(3) {
    width: 25%;
  }

  thead th:nth-child(4),
  tbody td:nth-child(4) {
    display: none;
  }

  thead th:nth-child(5),
  tbody td:nth-child(5) {
    display: none;
  }

  thead th:nth-child(6),
  tbody td:nth-child(6) {
    display: none;
  }
}
